<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            font-size: 28px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #999;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

    </style>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background-color : #76b852;">

<div class="header">
    <div style="float: right">
        <a class="btn btn-primary" href="/admin" style="float: right">Admin</a>
        <a class="btn btn-danger" href="/logout" >Logout</a>
    </div>
    <h1>Questionnaire world</h1>
</div>
<div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 20px">
    <a class="btn btn-secondary" href="/home">Home</a>
    <a class="active btn btn-secondary" href="/categories">Categories</a>
    <a class="btn btn-secondary" href="/results">Results</a>

</div>

<form th:action="@{/result}" method="post" th:object="${chosenForm}">

    <div style="margin-top: 20px;margin-left: 20px" th:each="question,questionStat : ${questions}">
        <ul style="background-color: #76b852">
            <h2 th:text="${question.getQuestion()} "></h2>
            <li th:each="answer,answerStat : ${question.getAnswerDTOS()}">
                <input th:field="*{chosenAnswers[__${questionStat.index}__].id}" th:name="${question.getQuestion()}" type="radio" th:value="${answer.getId()}" />
                <label th:text="${answer.getAnswer()}" th:for="${answer.getAnswer()}">Answer</label>
            </li>
        </ul>
    </div>

    <input class="btn btn-success" type="submit" value="Submit" style="margin-left: 20px;margin-top: 20px"/>
</form>

</body>
</html>
