<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            font-size: 28px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #999;
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 0;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }

    </style>
    <title>Users Results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background-color : #76b852;">

<div class="header">
    <div style="float: right">
        <a class="btn btn-danger" href="/logout" >Logout</a>
    </div>
    <h1>Questionnaire world</h1>
</div>

<div class="btn-group" role="group" aria-label="Basic example" style="margin-left: 20px">
    <a class="btn btn-secondary" href="/home">Back</a>
    <a class="btn btn-secondary" href="/admin">Home</a>
    <a class="btn btn-secondary" href="/users">Users</a>
    <a class="active btn btn-secondary" href="/usersresults">Results</a>
</div>

<div style="color: white;margin-left: 20px;margin-top: 20px">
    <div th:each="user : ${users}" style="margin-top: 20px">
        <h3 th:text="${user.getName()}">User</h3>
        <div th:each="result : ${user.getResultDTOS()}">
            <h5 th:text="${result.getTest()} + ' - ' + ${result.getResult()}">Result</h5>
        </div>
    </div>
</div>


</body>
</html>
